<div id="bookContainer" class="col-xs-4" >
  <div id="currentBookDropdown" class="dropdown">
    {{#link-to "book.edit" model}}
      <span class="glyphicon glyphicon-cog color-blue" style="margin-right: 10px;" title="Edit book"></span>
    {{/link-to}}
    <a id="currentBook" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      {{model.name}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="currentBook">
      <li class="dropdown-header">Your books: {{books.length}}</li>

      {{#each books as |book|}}
      <li>
        {{#link-to "book" book.id class="bookLink"}}
        {{book.name}}
        <span class="total pull-right">
          {{book.wordsCount}}
        </span>
        <span class="book-progress pull-right">
          {{book-progress book.wordsCompletedCount book.wordsCount}} 
        </span>
        {{/link-to}}
      </li>
      {{/each}}

      <li role="separator" class="divider"></li>
      <li>
        {{#link-to "createBook" class="addBookLink"}}
          <span class="glyphicon glyphicon-plus" style="margin-right:10px; color:#5bc0de;" aria-hidden="true"></span>
          Add Book
        {{/link-to}}
      </li>
{{!--       <li><a class="findBookLink" href="#">
        <span class="glyphicon glyphicon-search" style="margin-right:10px;" aria-hidden="true"></span>Find Book</a>
      </li>
 --}}    </ul>
  </div>
</div>

<div class="col-xs-6">
	<form id="word_input_form" class="input-group">
		{{input value=inputWord class="form-control input-sm"  placeholder="Enter word here..."}}
  	<span class="input-group-btn">
    	<button class="btn btn-sm btn-info" type="submit" >
    		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    	</button>
  	</span>
  </form>
</div>

<div class="col-xs-2">
  {{#link-to "book.exam" model class="exam-link pull-right"}}
  <button class="btn btn-sm btn-warning" type="button">
    <span class="glyphicon glyphicon-check"></span>
    EXAM
  </button>
  {{/link-to}}
  {{#link-to "book.learn" model class="learn-link pull-right"}}
  <button class="btn btn-sm btn-success" type="button">
    <span class="glyphicon glyphicon-book"></span>
    LEARN
  </button>
  {{/link-to}}
</div>