{{learn-hotkeys onNextCard=(action "nextCard") onPrevCard=(action "prevCard") onNextWord=(action "nextWord") onPlaySound=(action "playSound")}}
<div class="flex-space-around fill-absolute">
	<div class="side-col hotkey-hints">
		<div class="hotkey-hint">
			<tt>[Left]</tt> &mdash; previous card
		</div>
		<div class="hotkey-hint">
			<tt>[Right]</tt> &mdash; next card
		</div>
		<div class="hotkey-hint">
			<tt>[Enter]</tt> &mdash;{{#if isSingleWord}}back to "{{model.name}}"{{else}}next word{{/if}}
		</div>
		<div class="hotkey-hint">
			<tt>[Space]</tt> &mdash; listen pronunciation
		</div>
	</div>
	<div class="learning-col full-height">
	    <div id="stencil" class="fill-absolute">
	    	<div id="top-block"></div>
	    	<div id="magnifier-block">
	    		<div id="learning-cards" class="fill-absolute">
					{{#each sessionWords as |wordToLearn|}}
						{{learning-card wordToLearn=wordToLearn}}
					{{/each}}
					{{#if isSingleWord}}
					<div class="summary-card light-shadow">
						<div class="header">
							That was the last one. Do you want to examine your knowledge?
						</div>
						<div class="actions">
							<button {{action 'examine'}} id="examine_btn" class="btn btn-warning">Examine</button>
							{{#link-to 'book'}}
								<button id="later_btn" class="btn btn-default">Back to "{{model.name}}"</button>
							{{/link-to}}
						</div>
					</div>
					{{/if}}
				</div>
				{{#unless isSummary}}
					<button {{action 'nextWord'}} id="next_word" class="btn btn-success btn-xs">
						{{#if isSingleWord}}Back{{else}}Next{{/if}} 
					</button>
				{{/unless}}
			</div>
			<div id="bottom-block"></div>
	    </div>
		<div id="learning-cards-shadow" class="fill-absolute">
			<div class="learning-card" style="background: transparent;"></div>
			{{#each sessionWords as |wordToLearn|}}
				{{learning-card wordToLearn=wordToLearn isShadow=true}}
			{{/each}}
		</div>
	</div>
	<div class="side-col">
	</div>
</div>