<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CoolVocabulary.com</title>
    @Styles.Render("~/Content/css")
    @RenderSection("header", required: false)
</head>
<body>
    <div class="topbar navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header visible-xs">
                <a href="@Url.Action("Vocabulary","Home")"><img id="logo_mobile" src="~/content/images/icon48.png" alt="Cool Vocabulary" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="topbar-navitems navbar-collapse collapse">
                <div class="topbar-menu-links">
                    <a href="@Url.Action("Vocabulary","Home")" class="hidden-xs"><img id="logo" src="~/content/images/icon48.png" alt="Cool Vocabulary"/></a>
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Cool Translator", "CoolTranslator", "Home")</li>
                        <li><a target="_blank" href="http://babbel.com">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            Babbel.com
                            </a></li>
                        <li><a target="_blank" href="http://duolingo.com">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            Duolingo.com
                            </a></li>
                    </ul>
                </div>
                <div class="topbar-user-links hidden-xs pull-right">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/js-basic")
    @RenderSection("scripts", required: false)
</body>
</html>
