<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="topbar navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="topbar-navitems navbar-collapse collapse">
                <div class="topbar-menu-links">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("About", "Index", "Home")</li>
                        <li>@Html.ActionLink("Cool Translator", "CoolTranslator", "Home")</li>
                        <li>@Html.ActionLink("Babbel.com", "Babbel", "Home")</li>
                        <li>@Html.ActionLink("Duolingo.com", "Duolingo", "Home")</li>
                    </ul>
                </div>
                <div class="topbar-user-links pull-right">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
