<div class="card-content flex-centered">
	<div class="source-word">
		<span class="word">
		{{wordToExam.sourceWord}}
    	{{word-sound autoPlay=false word=wordToExam.translation.bookWord.word playSoundCounter=wordToExam.playSoundCounter}}
		</span>
	</div>
	<div class="target-words">
		<ul>
		{{#each wordToExam.translations as |translation|}}
			<li {{action "select" translation}} class="translation {{if translation.isMistake "mistake"}} {{if translation.isCorrect "correct"}} overflow-ellipsis">
				{{translation.word}}
			</li>
		{{/each}}
		</ul>
	</div>
</div>