<div class="summary-card light-shadow">
	<div class="promote-header">
		{{objects-count totalPromoted 'translation'}} successfully promoted
	</div>
	<div class="promote-results">
		{{#each promotes as |promote|}}
			<span class="promote-level">
				{{promote-battery promote.level}}
				<span class="count {{if promote.examinationsCompleted "completed"}}">
					{{objects-count promote.count 'translation'}}{{#if promote.examinationsCompleted}}. All examinations completed!{{/if}}
				</span>
			</span>
		{{/each}}
	</div>
	<hr class="splitter"/>
	{{#unless hasMoreWordsToExam}}
		<div class="header">
				All translations in the book are examined.
		</div>
	{{/unless}}
	<div class="actions">
		{{#link-to 'book'}}
			{{#if bookName}}
				<button id="later_btn" class="btn btn-default overflow-ellipsis">
					Back to "{{bookName}}"
				</button>
			{{else}}
				<button tabIndex="12" id="later_btn" class="btn btn-default overflow-ellipsis">
					Finish
				</button>
			{{/if}}
		{{/link-to}}
		{{#if hasMoreWordsToLearn}}
			<button {{action 'learnMore'}} id="learn_btn" class="btn btn-success">Learn More</button>
		{{/if}}
		{{#if hasMoreWordsToExam}}
			<button {{action 'examMore'}} id="examine_btn" class="btn btn-warning">Examine More</button>
		{{/if}}
	</div>
</div>
