<div class="summary-card light-shadow">
	<div class="promote-header">
		{{objects-count totalPromoted 'translation'}} successfully promoted
	</div>
	<div class="promote-results">
		{{#each promotes as |promote|}}
			<span class="promote-level">
				{{promote-battery promote.level}}
				<span class="count {{if promote.examinationsCompleted "completed"}}">
					{{objects-count promote.count 'translation'}}{{#if promote.examinationsCompleted}}. All examinations completed!{{/if}}
				</span>
			</span>
		{{/each}}
	</div>
	<hr class="splitter"/>
	<div class="header">
		{{#if hasMoreWords}}
			You have more translations to examine.
		{{else}}
			All translations in the book are exmined.							
		{{/if}}
	</div>
	<div class="actions">
		{{#link-to 'book'}}
			<button id="later_btn" class="btn btn-default overflow-ellipsis">Back to "{{bookName}}"</button>
		{{/link-to}}
		{{#if hasMoreWordsToLearn}}
			<button {{action 'learnMore'}} id="learn_btn" class="btn btn-success">Learn</button>
		{{/if}}
		{{#if hasMoreWordsToExam}}
			<button {{action 'examMore'}} id="examine_btn" class="btn btn-warning">Examine</button>
		{{/if}}
	</div>
</div>
