<div class="sp-block">
	<div class="sp-header">{{title}}</div>
	<table class="table table-striped">
		{{#each words as |pair|}}
			<tr class='word-translation'>
				<td class="word" title='{{word}}'>{{pair.word}}</td>
				<td class="show-details text-center">...</td>
				<td class="translation text-right" title='{{translation}}'>{{pair.translation}}</td>
			</tr>
		{{/each}}
		
	</table>
</div>
