<div class="sp-block">
	<div class="sp-header light-shadow">{{title}}</div>
	<ul class="sp-words table">
		{{#each bookWords as |bookWord|}}
			<li {{action "selectWord" bookWord}} >
				<span class="word" title='{{bookWord.word.value}}'>{{bookWord.word.value}}</span>
				{{#link-to 'wordTranslation' bookWord.id class="show-details text-center"}}
				...
				{{/link-to}}
				<span class="translations text-right">
					{{#each bookWord.translations as |translation|}}
						{{translation.value}}&nbsp;
					{{/each}}
				</span>
				<span class="word-learnLevel">
					{{learn-battery bookWord}}
				</span>
			</li>
		{{/each}}
	</ul>
</div>