<div class="sp-block">
	<div class="sp-header light-shadow">{{title}}</div>
	<ul class="sp-words table">
		{{#each sortedBookWords as |bookWord|}}
			<li {{action "selectWord" bookWord}} class="{{if bookWord.learnCompleted "completed"}}" >
				<span class="word" title='{{bookWord.word.value}}'>{{bookWord.word.value}}</span>
				{{#link-to 'wordTranslation' bookWord.id class="show-details text-center"}}
				...
				{{/link-to}}
				<span class="translations text-right">
					{{#each bookWord.translations as |translation|}}
						{{translation.value}}&nbsp;
					{{/each}}
				</span>
				<span class="word-learnLevel">
					{{#if bookWord.learnCompleted}}
						<span class="glyphicon glyphicon-ok"/>
					{{else}}
						{{learn-battery bookWord.learnLevel}}
					{{/if}}
				</span>
			</li>
		{{/each}}
	</ul>
</div>