<div id="bookContainer" class="col-xs-6 col-md-3 col-lg-4" >
  <div id="currentBookDropdown" class="dropdown">
    {{#link-to "book.edit" model tabindex=20}}
      <i class="edit-icon glyphicon glyphicon-cog color-blue" title="Edit book"></i>
    {{/link-to}}
    <a id="currentBook" href="#" tabindex="21" data-toggle="dropdown" role="button" class="overflow-ellipsis">
      {{model.book.name}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="currentBook">
      <li class="dropdown-header">Your books: {{userBooks.length}}</li>

      {{#each sortedUserBooks as |userBook|}}
      <li>
        {{#link-to "book" userBook.id tabindex=21 class="bookLink"}}
        <span class="overflow-ellipsis">
        {{userBook.book.name}}
        </span>
        {{#if userBook.inProgressCount}}
          <span class="total pull-right">
            {{userBook.inProgressCount}} in progress
          </span>
        {{/if}}
{{!--         <span class="book-progress pull-right">
          {{book-progress book.wordsCompletedCount book.wordsCount}} 
        </span>
 --}}        {{/link-to}}
      </li>
      {{/each}}

      <li role="separator" class="divider"></li>
      <li>
        {{#link-to "createBook" tabindex=21 class="addBookLink"}}
          <span class="glyphicon glyphicon-plus" style="margin-right:10px; color:#5bc0de;" aria-hidden="true"></span>
          Add Book
        {{/link-to}}
      </li>
{{!--       <li><a class="findBookLink" href="#">
        <span class="glyphicon glyphicon-search" style="margin-right:10px;" aria-hidden="true"></span>Find Book</a>
      </li>
 --}}    </ul>
  </div>
</div>

<div class="hidden-xs hidden-sm col-md-6 col-lg-6">
	<form id="word_input_form" class="input-group">
    <input placeholder="Enter {{language.lowerName}} word here..."  tabindex="22" type="text" class="form-control input-sm">
  	<span class="input-group-btn">
    	<button class="btn btn-sm btn-info" tabindex="23" type="submit" >
    		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    	</button>
  	</span>
  </form>
</div>

<div class="col-xs-6 col-md-3 col-lg-2">
  {{#link-to "book.exam" model tabindex=25 class="exam-link pull-right"}}
  <button class="btn btn-sm btn-warning" tabindex="-1" type="button">
    <span class="glyphicon glyphicon-check"></span>
    EXAM
  </button>
  {{/link-to}}
  {{#link-to "book.learn" 0 tabindex=24 class="learn-link pull-right"}}
  <button class="btn btn-sm btn-success" tabindex="-1" type="button">
    <span class="glyphicon glyphicon-book"></span>
    LEARN
  </button>
  {{/link-to}}
</div>