{{learn-hotkeys onNextCard=(action "nextCard") onPrevCard=(action "prevCard") onNextWord=(action "nextWord") onPlaySound=(action "playSound")}}
<div class="flex-space-around full-height">
	<div class="side-col hotkey-hints hidden-xs">
		<div class="hotkey-hint">
			<tt>[Left]</tt> &mdash; previous card
		</div>
		<div class="hotkey-hint">
			<tt>[Right]</tt> &mdash; next card
		</div>
		<div class="hotkey-hint">
			<tt>[Enter]</tt> &mdash;{{#if options.isSingleWord}}back to "{{model.name}}"{{else}}next word{{/if}}
		</div>
		<div class="hotkey-hint">
			<tt>[Space]</tt> &mdash; listen pronunciation
		</div>
	</div>
	<div class="learning-col full-height">
	    <div id="stencil" class="fill-absolute">
	    	<div id="top-block"></div>
	    	<div id="magnifier-block">
	    		<div id="learning-cards" class="fill-absolute">
					{{#each model as |wordToLearn|}}
						{{learning-card wordToLearn=wordToLearn}}
					{{/each}}
					{{#unless options.isSingleWord}}
						{{learning-summary-card  bookName=options.userBook.book.name onExamine=(action "examine") }}
					{{/unless}}
				</div>
				{{#unless isSummary}}
					<button {{action 'nextWord'}} id="next_word" class="btn btn-success btn-xs">
						{{#if options.isSingleWord}}Book{{else}}Next{{/if}} 
					</button>
				{{/unless}}
			</div>
			<div id="bottom-block"></div>
	    </div>
		<div id="learning-cards-shadow" class="fill-absolute">
		</div>
	</div>
	<div class="side-col hidden-xs">
	</div>
</div>