@model CoolVocabulary.Models.LoginViewModel

@{
    ViewBag.Title = "Sign in - Cool Vocabulary";
}
<link href="~/Content/account.css" rel="stylesheet" />

<div class="centered-container">
    <div class="centered-ui">
        <div class="centered-header">
            Sign in to continue to <div class="site-name-container">
                <img class="site-logo" src="//cdn.sstatic.net/stackoverflow/img/apple-touch-icon.png">
                <div class="site-name">Cool Vocabulary</div>
            </div>
        </div>
        <div class="form-container">
            @using (Html.BeginForm("ExternalLogin", "Account", new { returnUrl = ViewBag.ReturnUrl })){
                @Html.AntiForgeryToken()
                <div id="openid-buttons">
                    <button type="submit" value="Google" name="provider" class="preferred-login google-login">
                        <div class="icon-container"><span class="icon" style=""></span></div>
                        <div class="text"><span>Google</span></div>
                        <br class="cbt">
                    </button>
                    @*<button type="submit" value="Facebook" name="provider" class="preferred-login   facebook-login">
                        <div class="icon-container"><span class="icon" style=""></span></div>
                        <div class="text"><span>Facebook</span></div>
                        <br class="cbt">
                    </button>*@
                </div>
            }
            <div class="or-container">
                <hr class="or-hr">
                <div id="or">or</div>
            </div>
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "clearfix", ReturnUrl = ViewBag.ReturnUrl, role = "form", id = "cv-login-form" })) {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary()
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                <!--<a class="fr" href="/users/account-recovery">forgot password?</a>-->
                <input type="submit" class="pull-right" value="Sign In" />
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}