<div id="background"></div>
<div class="topbar navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header visible-xs">
            <a tabIndex="-1" href="/"><img id="logo_mobile" src="/content/images/icon48.png" alt="Cool Vocabulary" /></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="topbar-navitems navbar-collapse collapse">
            <div class="topbar-menu-links">
                <a tabIndex="-1" href="/" class="hidden-xs"><img id="logo" src="/content/images/icon48.png" alt="Cool Vocabulary" /></a>
                <ul class="nav navbar-nav">
                    <li><a tabIndex="-1" href="/CoolTranslator">Cool Translator</a></li>
                    <li>
                        <a tabIndex="-1" target="_blank" href="http://babbel.com">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            Babbel.com
                        </a>
                    </li>
                    <li>
                        <a tabIndex="-1" target="_blank" href="http://duolingo.com">
                            <i class="glyphicon glyphicon-chevron-right"></i>
                            Duolingo.com
                        </a>
                    </li>
                </ul>
            </div>
            <div class="topbar-user-links pull-right">
			    <ul class="nav navbar-nav navbar-right">
            		{{outlet 'menu'}}
 			 		<li class="dropdown">
			            <a tabIndex="9" id="userName" class="dropdown-toggle" data-toggle="dropdown" href="#">
			                {{model.displayName}}
			                <b class="caret"></b>
			            </a>
			            <ul class="dropdown-menu">
							<li>
								<form action="/account/LogOff" class="hidden" id="logoutForm" method="post">
								    <input type="hidden" name="__RequestVerificationToken" value="{{csrfFormToken}}">
                                </form>
				                <a tabindex="-1" {{action "logout"}} class="logout-link">
			                        <i class="glyphicon glyphicon-off"></i>
			                        Log Out
			                    </a>
			                </li>
			            </ul>
			        </li>
			    </ul>
            </div>
        </div>
    </div>
</div>
<div class="body-wrap">
    {{outlet "body"}}
</div>
{{outlet "root"}}