{{!-- 			        <li>
			            <div id="current_target_progress" class="menu-flex-centered">
			                <svg>
			                    <rect class="full" x="0" y="0" width="100" height="10" fill="#ebeef2"></rect>
			                    <rect class="completed" x="0" y="0" width="0" height="10" fill="#39b3d7"></rect>
			                </svg>
			            </div>
			        </li>
--}}
{{outlet "languageMenu"}}
<li>
    <a id="currentLanguage" class="dropdown-toggle menu-flex-centered" data-toggle="dropdown" href="#">
        <i class="language-icon {{model.id}}" title="{{model.name}}"></i>
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
    	{{#each languages as |language|}}
		<li>
            <a tabindex="-1" href="/{{language.id}}">
                {{language.name}}
            </a>
        </li>
        {{/each}}
    </ul>
</li>
