<div tabIndex="1" id="word_details_popover" class="light-shadow">
   	<div class="popover-content clearfix">
      {{#if hasPictures}}
     		{{word-pictures word=model.word}}
        <hr class="splitter"/>
      {{/if}}
   		<div class="word-info">
	   		<div class="word-wrap">
          <span class="word">{{model.word.value}}</span>
          {{word-sound word=model.word}}
        </div>
        <div class="pronunciation-wrap">
	   		  <span class="pronunciation">{{model.word.pronunciation}}</span>
        </div>
		  </div>
      <div class="splitter-block">
          <hr class="splitter with-caption">
          <div class="splitter-caption">{{speachPartText}}</div>
      </div>
      {{word-translations translations=model.translations}}
      <hr class="splitter"/>
      <div class="actions-block">
        <span {{action "remove"}} class="glyphicon glyphicon-trash btn-sm color-grey" title="Remove word from book"></span>
        <span {{action "move"}} class="glyphicon glyphicon glyphicon-transfer btn-sm color-grey" title="Move to another book"></span>
        {{#link-to "book.learn" model class="pull-right"}}
          <button class="btn btn-xs btn-success" type="button">
        		<span class="glyphicon glyphicon-book"></span>
        		Learn
          </button>
    		{{/link-to}}
      </div>
   	</div>
</div>