{{word-details-events onMouseOut=(action "hideWordDetails")}}
<div tabIndex="1" id="word_details_popover" class="light-shadow fadeout">
   	<div class="popover-content clearfix">
   		{{word-pictures word=model.word}}
   		<div class="word-info">
	   		<div class="word-wrap">
          <span class="word">
            {{model.word.value}}
            {{word-sound autoPlay=true word=model.word}}
          </span>
        </div>
        <div class="pronunciation-wrap">
	   		  <span class="pronunciation">{{model.word.pronunciation}}</span>
        </div>
		  </div>
      {{word-translations showRemoveButton=true translations=model.translations speachPart=model.speachPart}}
      <hr class="splitter"/>
      <div class="actions-block">
        <span {{action "remove"}} class="glyphicon glyphicon-trash btn-sm color-grey" title="Remove word from book"></span>
        <span {{action "move"}} class="glyphicon glyphicon glyphicon-transfer btn-sm color-grey" title="Move to another book"></span>
        {{#link-to "book.learn" model class="pull-right"}}
          <button class="btn btn-xs btn-success" type="button">
        		<span class="glyphicon glyphicon-book"></span>
        		Learn
          </button>
    		{{/link-to}}
      </div>
   	</div>
</div>